.color-variant {
    height: 25px; 
    width: 25px;
    list-style: none;
    border: 2px solid black;
    margin: 5px;
}
input[name="color"]:checked + label {
    scale: 1.2
}

a.remove-from-cart {
    visibility: hidden;
}

.cart-item:hover a.remove-from-cart {
    visibility: visible;
}