{% extends 'base.html' %}
{% block content %}
  <div class="row sticky-top bg-white">
    <h1 class="py-5">This {{ view.title() }}</h1>
    <ul class="btn-group">
      {% for label in ['week', 'month','year'] %}
        <a class="btn btn{{ '' if view == label else '-outline' }}-primary" href="{{ url_for('calendar', view=label) }}">{{ label.title() }}</a>
      {% endfor %}
    </ul>
  </div>
  <turbo-frame id="turboCalendar">
    {% include 'components/list_display.html' %}
  </turbo-frame>
{% endblock %}