{% extends 'base.html' %}
{% block content %}
  <h1>My cart</h1>
  <ul class="list-group list-group-flush">
    {% for id, product in cart.items %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <img src="{{ product.img }}" alt="" height="80">
            <div>
              <strong>{{ product.name }}</strong><br>
              <span>${{product.price}}</span><br>
              <span>x{{ product.amount }}</span>
            </div>
          </div>
          <span>${{ product.total_price }}</span>
        </div>
      </li>
    {% endfor %}
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
          <div>
          </div>
          <strong>Total<br>${{ order_total }}</strong>
        </div>
    </li>
  </ul>


{% endblock %}

<!-- 
TODO: Remove from cart 
TODO: Order now page
-->
