{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1>{{ product.name }}</h1>
    <div class="row">
      <div class="col-12 col-lg-8">
        {% for color in product.colors.all %}
          <div id="imageCarousel{{ forloop.counter }}" class="carousel carousel-dark slide" data-bs-interval="false" color="{{ color.name }}">
            <div class="carousel-inner">
              {% for file in color.files %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <img src="{{ file.preview_url }}" class="d-block w-100" alt="product image">
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel{{ forloop.counter }}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel{{ forloop.counter }}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        {% endfor %}
      </div>
      <div class="col-12 col-lg-4">
        <h1 class="price">${{ 0 }}</h1>
        
        <form id="variant-form" action="{% url 'add_to_cart' %}" method="post">
          {% csrf_token %}
          <input type="text" name="variant_id" id="variant-id" hidden>
          <!-- COLOR -->
          <div class="list-group-horizontal">
            {% for color in product.colors.all %}
              {% if forloop.first %}
                <input type="radio" class="btn-check" name="color" id="{{ color.name }}" value="{{ color.sizes }}" onchange="onChange()" checked>
              {% else %}
                <input type="radio" class="btn-check" name="color" id="{{ color.name }}" value="{{ color.sizes }}" onchange="onChange()">
              {% endif %}
              <label class="btn color-variant" style="background-color: {{ color.code }};" for="{{ color.name }}" title="{{ color.name }}"></label>
            {% endfor %}
          </div>
          <!-- SIZE -->
          <select id="size" class="form-select my-3" aria-label="Size" onchange="onChange()">
            {% for size in product.sizes.all %}
              <option value="{{ size }}">{{ size }}</option>
            {% endfor %}
          </select>
          <input class="btn btn-primary" type="button" value="Add to Cart" onclick="onSubmit()">
        </form>
      </div>
    </div>
  </div>
  <script>
    // On color select
    function onChange() {
      // Change price
      color = document.querySelector('input[name="color"]:checked');
      size = document.querySelector('#size option:checked').value;
      document.querySelectorAll('h1.price').forEach(price => {
        price.hidden = true
      })
      document.getElementById(JSON.parse(color.value)[size]).hidden = false;
      // Change size options
      sizes = document.querySelectorAll('#size option')
      sizes.forEach(size => {
        if (color.hasOwnProperty(size.value)) {
          size.classList.remove('disabled')
        } else {
          size.classList.add('disabled')
        }
      })
      // Change pictures
      document.querySelectorAll('.carousel').forEach(elem => {
        elem.hidden = true;
      });
      document.querySelector(`.carousel[color="${color.id}"]`).hidden = false;
    }
    // On add to cart
    function onSubmit() {
      color = JSON.parse(document.querySelector('input[name="color"]:checked').value);
      size = document.querySelector('#size option:checked').value;
      document.getElementById('variant-id').value = color[size];
      document.getElementById('variant-form').submit();
    }
    onChange()
  </script>
{% endblock %}