{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h2>{{ product.name }}</h2>
    <div class="row">
      {% for color in colors %}
        {% if forloop.first %}
          <div id="imageCarousel{{ forloop.counter }}" class="carousel carousel-dark slide col-8" data-interval="false" color="{{ color.name }}">
            <div class="carousel-inner">
              {% for file in color.files %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <img src="{{ file.preview_url }}" class="d-block w-100" alt="product image">
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel{{ forloop.counter }}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel{{ forloop.counter }}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        {% else %}
          <div id="imageCarousel{{ forloop.counter }}" class="carousel carousel-dark slide col-8" data-interval="false" color="{{ color.name }}" hidden>
            <div class="carousel-inner">
              {% for file in color.files %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <img src="{{ file.preview_url }}" class="d-block w-100" alt="product image">
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel{{ forloop.counter }}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel{{ forloop.counter }}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
      <div class="col-4">
        <h1>${{ curr.retail_price }}</h1>
        
        <form id="variant_form" action="{% url 'product' product_id=product.id%}" method="post">
          {% csrf_token %}
          <input type="text" name="variant_id" value="{{ variant.variant_id }}" hidden>
          <!-- COLOR -->
          <div class="list-group-horizontal">
            {% for color in colors %}
              {% if color == variant.color_code%}
                <input type="radio" class="btn-check" name="color" id="{{ color.name }}" autocomplete="off" value="{{ color.name }}" onchange="onChange()" checked>
                <label class="btn color-variant" style="background-color: {{ color.code }};" for="{{ color.name }}">X</label>
              {% else %}
                <input type="radio" class="btn-check" name="color" id="{{ color.name }}" autocomplete="off" value="{{ color.name }}" onchange="onChange()">
                <label class="btn color-variant" style="background-color: {{ color.code }};" for="{{ color.name }}"></label>
              {% endif %}
            {% endfor %}
          </div>
          <!-- SIZE -->
          <select id="size" class="form-select" aria-label="Size">
            {% for size in sizes %}
              {% if size == curr.size %}
                <option value="{{ size }}" selected>{{ size }}</option>
              {% else %}
                <option value="{{ size }}">{{ size }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <input class="btn btn-primary" type="submit" formaction="{% url 'product' product_id=product.id %}" hidden>
          <input class="btn btn-primary" type="submit" formaction="{% url 'add_to_cart' %}" value="Add to Cart">
        </form>
      </div>
    </div>
  </div>
  <script>
    function onChange() {
      color = document.querySelector('input[name="color"]:checked').value;
      console.log(color)
      document.querySelectorAll('.carousel').forEach(elem => {
        elem.hidden = true
      })
      document.querySelector(`.carousel[color="${color}"]`).hidden = false
    }
  </script>
{% endblock %}