<div class="container my-4">
  <form action="{{ url_for('edit', route=list.route, view=view) }}" method="post">
    <div class="d-flex justify-content-between">
      <h2 id="{{ list.title.replace(' ', '') }}" class="{{ 'text-primary' if list.is_today }}">{{ list.title }}</h2>
      {% if editing == list.title %}
        <button class="bi bi-check-lg text-primary icon-button" type="submit"></button>
      {% elif not editing %}
        <a class="bi bi-pencil text-primary" href="{{ url_for(list.route, view=view, editing=list.title) }}"></a>
      {% endif %}
    </div>
    <ul class="list-group list-group-flush">
      {% with items = list['items'] %}
        {% for item in items %}
          {% with show_date = loop.previtem.due_date != item.due_date if loop.previtem else True %}
            {% include 'components/list_item.html' %}
          {% endwith %}
        {% endfor %}
      {% endwith %}
    </ul>
  </form>
  {% if editing == list.title %}
      <li class="list-group-item">
        <form action="{{ url_for(list.route, view=view) }}" method="post">
          <input id="newItem" class="form-control" type="text" name="{{ list.title }}" placeholder="New item" autofocus>
          <input type="text" style="display: none" name="new_item_due_date" value="{{ list.new_item_due_date }}">
          <input type="submit" style="display: none"/>
        </form>
      </li>
    {% endif %}
</div>
<script>
  document.getElementById('newItem').focus()
</script>