<header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
  <a class="navbar-brand px-3" href="{{ url_for('home') }}">
    <img class="bi me-2" width="40" height="40" src="{{ url_for('static', filename='img/favicon.png')}}" alt="">
    <span class="fs-4">Liam Frager</span>
  </a>
  <ul class="nav nav-pills px-3">
    <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link {{ 'active' if page == 'home' else '' }}" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{{ url_for('projects', id='all') }}" class="nav-link {{ 'active' if page == 'projects' else '' }}">Projects</a></li>
    <!-- <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link {{ 'active' if page == 'about' else '' }}">About</a></li> -->
    <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link {{ 'active' if page == 'contact' else '' }}">Contact</a></li>
  </ul>
</header>