{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ url_for('static', filename= 'img/headshot.jpg') }}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"> { Liam Frager }</h1>
      <p class="lead">
        Quickly design and customize <code>responsive</code> mobile-first sites with <code>Bootstrap</code>, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
      </p>
      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div> -->
    </div>
  </div>
</div>
{% if projects %}
  <div class="container px-4 py-5" id="coding-projects">
    <a href="{{ url_for('projects', id='all') }}" class="text-decoration-none">
      <h2 class="pb-2 border-bottom">< Coding Projects /></h2>
    </a>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      {% for project in projects[::-1] %}
        <div class="col">
          <a href="{{ url_for('projects', id=project.id)}}" class="text-decoration-none">
            <div class="hov card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{{ project.img_url }}');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ project.title }}</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <small>{{ project.completion_date}}</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <small>{{ project.language }}</small>
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endblock %}