<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="{{url_for('login')}}" method="post">
        <label for="username">
            name
            <input type="text" placeholder="username" name="username">
        </label>
        <label for="password">
            password
            <input type="text" placeholder="password" name="password">
        </label>
        <button type="submit">Ok</button>
    </form>
</body>
</html>