{% extends 'base.html' %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='choose_character.css') }}">
{% endblock %}
{% block content %}
  <body class="content {{ house.name.lower() }}">
    <div class="heading">
      <img src="{{ house.img }}" alt="{{ house.name }} crest">
      <h1 id="house-name">{{ house.name }}</h1>
    </div>
    <div class="character-display">
      {% for character in characters %}
        <a class="character" href="{{ url_for('select', id=character.id) }}">
          <h3>{{ character.name }}</h3>
        </a>
      {% endfor %}
    </div>
  </body>
{% endblock %}