* {
    box-sizing: border-box;
}
body {
    margin-top: 0;
}

.gryffindor {
    --primary-color: firebrick;
    --secondary-color: gold;
}
.ravenclaw {
    --primary-color: deepskyblue;
    --secondary-color: sienna;
}
.hufflepuff {
    --primary-color: gold;
    --secondary-color: black;
}
.slytherin {
    --primary-color: forestgreen;
    --secondary-color: silver;
}

footer {
    display: flex;
    justify-content: center;
}