.list-input {
    border: none;
    outline: none;
    width: 55%;
}

.date-input {
    border: none;
    outline: none;
    max-width: 30%;
    float: right;
    text-align: end;
}

.icon-button {
    border: none;
    background: none;
    font-size: 1.2em;
}