<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Color Pallete Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Image Color Pallete Generator</h1>
  <form action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">
    <h3>Upload image here to find its most common colors!</h3>
    <input type="file" name="image_file" id="image_file" accept=".png,.jpg,.jpeg,.gif,.img" onchange="this.form.submit()"><br>
    <p><strong>or</strong></p>
    <input type="text" name="image_url" id="image_url" placeholder="Image URL"><br>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
    <input type="submit" value="Scan colors">
  </form>
  {% if image %}
    <img class="image-display" src="{{ image }}" alt="Your uploaded image">
  {% endif %}
  {% if colors %}
    {% for color in colors %}
      <div class="color-display">
        <div class="color" style="background: {{ color }};"></div>
        <div class="hexcode">{{ color }}</div>
      </div>
    {% endfor %}
  {% endif %}
</body>
</html>